
@media(max-height:676px){
  .mobile-menu-wrapper{padding: 50px 0;display: block;}
  .hero-meta{display: block;padding: 150px 0 100px 0;}
}

@media (min-width: 576px){
  .press-wrapper .g-sm-5,
  .press-wrapper .gy-sm-5 {--bs-gutter-y: 40px;}
  .press-wrapper .g-sm-5,
  .press-wrapper .gx-sm-5 {--bs-gutter-x: 70px;}
  
  .locations-wrapper.press-wrapper .g-sm-5,
  .locations-wrapper.press-wrapper .gy-sm-5 {--bs-gutter-y: 110px;}
  .locations-wrapper.press-wrapper .g-sm-5,
  .locations-wrapper.press-wrapper .gx-sm-5 {--bs-gutter-x: 70px;}
}


@media(min-width:992px){
  .mobile-menu-wrapper{display: none !important;}
}

@media(max-width:1200px){
  .desktop-sticky-menu{display: none !important;}
  .press-wrapper .press-listing .container{max-width: 100%;}
}
@media(max-width:992px){
  :root{ 
    --img-section-height: unset;
    --home-slider-height: calc(100vh - 00px);
  }
  header .container{max-width: 100%;}
  header .navbar{background-color: var(--black-bg);padding: 10px 0;}
  header .navbar-brand{}
  header .navbar-brand img{max-width: 89px;}
  .navbar-toggler i{color: var(--primary-text);}
  
  .mobile-menu-wrapper{position: fixed;top: 0;left: 0;right: 0;height: 0;background-color: var(--black-bg);z-index: 1050;transition: .5s;opacity: 0;visibility: hidden;overflow-y: auto;overflow-x: hidden;display: flex;justify-content: center;align-items: center;}
  .mobile-menu-wrapper .mobile-menu{list-style: none;text-align: center;padding: 0;margin: 0;}
  .mobile-menu-wrapper .mobile-menu{}
  .mobile-menu-wrapper .mobile-menu li{}
  .mobile-menu-wrapper .mobile-menu li a{font-size: 27px;padding: 13px;font-weight: 300;text-transform: uppercase;color: var(--white-text);}
  .mobile-menu-wrapper .mobile-menu li a i{font-size: 16px;margin-left: 10px;}
  .mobile-menu-wrapper .mobile-menu ul{list-style: none;margin: 10px 0;padding: 0;margin: 0;}
  .mobile-menu-wrapper .mobile-menu ul li{}
  .mobile-menu-wrapper .mobile-menu ul li a{font-size: 16px;padding: 5px 14px;font-weight: bold;}
  .mobile-menu-close{position: absolute;right: 30px;top: 20px;font-size: 30px;color: var(--primary-text);}
  .mobile-menu-active{}
  .mobile-menu-active .mobile-menu-wrapper{height: 100%;opacity: 1;visibility: visible;}
  .hero-meta {width: auto;max-width: 100%;text-align: center;margin: 0 15px;}
  .footer-inner img {max-width: 189px;}
  .footer-inner img {max-width: 330px;}
  
  
  /* About Page */
  .about-wrapper .hero-meta{}
  .about-wrapper .hero-meta h4{font-size: 92px;font-weight: 900;margin-bottom: 130px;}
  .about-wrapper .hero-meta p{font-size: 24px;font-weight: bold;}
  .chef-picture-section img {height: 400px;}
  .gift-card main {padding: 160px 0;}  
}
/* 992 ends */
  /* About Page */
@media(max-width:768px){
  .about-wrapper .hero-meta{}
  .about-wrapper .hero-meta h4{font-size: 92px;}
  .about-wrapper .hero-meta p{}
}
/* 768 ends */
@media(max-width:576px){
  .about-wrapper .hero-meta{}
  .about-wrapper .hero-meta h4{font-size: 60px;margin-bottom: 30px;margin-top: -0px;}
  .press-wrapper.about-wrapper .hero-meta h4{font-size: 60px;margin-bottom: 0px;margin-top: 0px;}
  .about-wrapper .hero-meta p{line-height: 2.7;}
}
/* 576 ends */


